@model Vidly001.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(w => w.Customer.Name)
        @Html.TextBoxFor(w => w.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(w => w.Customer.BirthDate)
        @Html.TextBoxFor(w => w.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(w => w.Customer.MembershipTypeId)
        @Html.DropDownListFor(w => w.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "SubscriptionTypeName"), "Select Membership Type", new { @class = "form-control" })
    </div>
    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(w => w.Customer.IsSubscribedToNewsLetter) Subscride to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(w => w.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

